*.o
*.obj

*.a
*.lib
*.so
*.dylib
*.dll

UNFOCUSED_COMPLETE
UnFocused
*.exe
*.out
*.app

*.d

/build/
/bin/
/out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

.vscode/
!.vscode/tasks.json
!.vscode/launch.json

.DS_Store
*.swp
*.swo
*~
